name: Render Thumbnail
  
on:
  pull_request:
    paths:
      - 'shared/**'
  workflow_dispatch:
    inputs:
      tags:
        description: 'Reason for manual execution'

permissions:
  contents: write
  pull-requests: write

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: "{{defaultContext}}:thumbnails/render"
        file: Dockerfile
        push: false
        load: true
        tags: thumbnail-render:latest
        outputs: type=docker
    - name: Generate thumbnails
      run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

          
          echo "Event: ${{ github.event_name }}"
          echo "Base Ref: ${{ github.base_ref }}"

          CHANGED_FILES=""
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            git fetch origin ${{ github.base_ref }}:refs/remotes/origin/${{ github.base_ref }}
            # Get added, copied, modified, renamed, type changed files (exclude deleted)
            CHANGED_FILES=$(git diff --name-only --diff-filter=ACMRT origin/${{ github.base_ref }} HEAD -- shared/ | xargs)
            
            echo "Changed Files: $CHANGED_FILES"

            if [ -z "$CHANGED_FILES" ]; then
              echo "No relevant changes in shared/ detected."
              exit 0
            fi
          fi

          docker run -e CLOCK_CLUB_BRANCH=${{ github.head_ref || github.ref_name }} -v "$GITHUB_WORKSPACE/shared:/app/shared" -v "$GITHUB_WORKSPACE/thumbnails:/app/exported" thumbnail-render:latest $CHANGED_FILES
          echo "Commiting changes on $GITHUB_HEAD_REF"
          git add .
          git commit -m "Update thumbnails" || echo "No changes to commit"
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            git push origin HEAD:$GITHUB_HEAD_REF
          else
            git push origin HEAD:${{ github.ref_name }}
          fi